# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.git/
*.zip

*.pth
*.mp4
*.xlsx
*.log

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.idea/

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject
